{% extends "base.html" %}
{%block body%}
<div>
	<h2 align="center">当前标签数量:{{tag_num}} &nbsp&nbsp当前书籍数量:{{book_num}}</h2>
    <div id = "wrapper">
        <div id = "cell">
             {% for tag in tags %}
             <a href='/tag/{{tag.name}}/0'>{{tag.name}}</a>
                 {% if login %}
                    <button onclick="window.location.href='/user/tag_operation/add/{{user_id}}/{{tag.name}}';">收藏</button>
                 {% endif %}
                <br/>
             {% endfor %}
             <a href="/page/{{page - 1}}">上一页</a>
             <a href="/page/{{page + 1}}">下一页</a>
         </div>
      </div>
</div>
<style type="text/css">
    #wrapper {display:table; margin-left:45%;}
    #cell {display:table-cell; vertical-align:middle;}
</style>
{% endblock %}
